body {
  font-family: "Merriweather";
  margin: 20px;
}

.logo,
.nav_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo nav a {
  text-decoration: none;
  font-size: 20px;
}

.titulo_principal {
  position: relative;
  display: flex;
  font-weight: 900;
  font-size: 74px;
  line-height: 60px;
  padding-top: 20px;
  padding-bottom: 50px; 
}

.img_vector {
  position: relative;
  width: 100%;
  max-width: 150px;
}

.textos {
  position: relative;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}

.botao {
  position: relative;
  display: flex;
  background: #713fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 32px;
  gap: 10px;
  color: white;
}

.contato {
  position: relative;
  display: inline-block;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 60px;
}

.texto_contato {
  position: relative;
  display: flex;
  margin-left: 20px;
}

.racao {
  position: relative;
  display: flex;
  width: 260px;
  max-width: 240px;
  padding-right: 120px;
  bottom: 80px;
}

.viralata {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 360px;
}
.secao {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.secao_racao {
  display: flex;
  position: relative;
  justify-content: end;
}

.vira_lata{
  position: relative;
  display: flex;
  justify-content: end;
}

.icones {
    width: 70px;
    position: relative;
    display: flex;
}

.footer_redes_sociais {
    display: flow-root;
    position: relative;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}

.footer_redes_sociais li {
    position: relative;
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 30px;
}